.b{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: #a4a4a4;
}

.b1{
	position: absolute;
	top: 0.5%;
	left: 93%;
}

iframe{
	width: 80%;
	height: 30%;
	border: 0 solid;
	position: absolute;
	top: 60%;
	left: 10%;
}
